<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
    {% load static %}
    <body  style=" background-image:linear-gradient(rgba(1,1,1,0.5),rgba(1,1,1,0.5)), url({% static 'image2ofsaveetha.jpg' %});
  background-repeat:repeat;
  background-size:inherit;
  background-position: center;">
        <img style="position: relative; width: 80vw; height: 20vh; margin-left:11vw; margin-right:auto;" src="{% static 'images-savetha.png' %}" alt="saveetha college" />
        <div>
            
        <table bgcolor="cyan" style="margin-top:5vh; margin-left:30vw; width:0rem; height:5px;" cellspacing="3" cellpadding="10" border="10" >
           <caption style="color:#12edcfff; font-size :30px; font-weight:bold; margin-bottom:1vw; text-decoration:underline;">SLOT TIME TABLE - MUHAMMAD ASJAD E</caption>
            <tr>
                <th bgcolor="yellow">Day/Time</th>
                <th bgcolor="yellow">Monday</th>
                <th bgcolor="yellow">Tuesday</th>
                <th bgcolor="yellow">Wednesday</th>
                <th bgcolor="yellow">Thrusday</th>
                <th bgcolor="yellow">Friday</th>
                <th bgcolor="yellow">Saturday</th>
            </tr>
            <tr>
                <th bgcolor="yellow">8-10 a.m</th>
                <td style="font-weight: bold;" >Free Slot</td>
                <td style="font-weight: bold;">Web Development</td>
                <td style="font-weight: bold;">Machine Learning</td>
                <td style="font-weight: bold;">Machine Learning</td>
                <td style="font-weight: bold;">Python Programming</td>
                <td style="font-weight: bold;">Web Development</td>
            </tr>
            <tr>
                <th bgcolor="yellow">10-12 a.m</th>
                <td style="font-weight: bold;">Web Development</td>
                <td style="font-weight: bold;">Machine Learning</td>
                <td style="font-weight: bold;">Python Programming</td>
                <td style="font-weight: bold;">Python Programming</td>
                <td style="font-weight: bold;">Free Slot</td>
                <td style="font-weight: bold;">Machine Learning</td>
            </tr>
            <tr>
                <th bgcolor="yellow">12-13 p.m</th>
                <td style="font-weight: bold;" align="center" colspan="6">Lunch Break</td>
            </tr>
            <tr>
                <th bgcolor="yellow">13-15 p.m</th>
                <td style="font-weight: bold;">Free Slot</td>
                <td style="font-weight: bold;">Web Development</td>
                <td style="font-weight: bold;">Free Slot</td>
                <td style="font-weight: bold;">Free Slot</td>
                <td style="font-weight: bold;">Web Development</td>
                <td style="font-weight: bold;">Free Slot</td>
            </tr>
            <tr>
                <th bgcolor="yellow">15-17 p.m</th>
                <td style="font-weight: bold;">Python Programming</td>
                <td style="font-weight: bold;">Free Slot</td>
                <td style="font-weight: bold;">Machine Learning</td>
                <td style="font-weight: bold;">Free Slot</td>
                <td style="font-weight: bold;">Free Slot</td>
                <td style="font-weight: bold;">Python Programming</td>
            </tr>
        </table>
        </div>
        <div>
            <table bgcolor="#afcdeff" cellspacing="3" cellpadding="10" border="10" style="margin-left: 35vw; margin-top:5vh">
                <tr>
                    <th>S.NO</th>
                    <th>SUBJECT CODE</th>
                    <TH>SUBJECT NAME</TH>

                </tr>
                <tr>
                    <td>1.</td>
                    <td>19AI414</td>
                    <td>Fundamentals of Web Application Development</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>19AI410</td>
                    <td>Introduction to Machine Learning</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>19AI301</td>
                    <td>Python Programming</td>
                </tr>
            </table>
        </div>
    </body>
</html>